.title {
  margin-top:5%;
  font-size:7rem;
  font-family: "Montserrat";
}

.inputs {
  margin-top:5%;
}

.new {
    visibility:hidden;
}

.new2 {
  margin-top:10%;
  font-size:5rem;
}

.new2.new3 {
  margin-bottom: 10%;
  font-size:2rem;
}
